

h1{
    margin-top: 20%;
    color: rgb(153, 76, 224);
}
body{
    background: url("images/background.png") ;
    background-size: cover;
    min-height: 100vh;
    text-align:center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 30px;
    background-color: rgb(227, 164, 86);
    border-radius: 50cap;
    border-color: rgb(172, 125, 68);
    height: fit-content;
    height: 40px;
    width: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul{
    margin: 20px auto;
    width: 400px;
    padding: 10px;
    min-height: 1em;
    list-style: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li{
    padding: 10px;
    margin: 5px 0;
    background-color: white;
    border-radius: 5px;
}
.completed {
    text-decoration: line-through;
    color: #000000;
}